/* 整体布局 */
:root {
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 100%; /* 让页面宽度填充整个视窗 */
    min-height: 100vh; /* 让页面高度填充整个视窗 */
    background-color: #242424;
    overflow: hidden; /* 防止页面出现滚动条 */
}

#root {
    width: 100%;
    height: 100%;
}

.crypto-dashboard, .home-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    overflow: hidden; /* 防止溢出 */
}

/* 主容器 */
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden; /* 防止出现滚动条 */
}


/* 侧边栏 */
.sidebar {
    width: 7%;
     /* 确保 Sidebar 高度占满 */
    background-color: #333333;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: auto; /* 允许 Sidebar 滚动 */
    border-right: 1px solid #ddd;
    margin-top: 70px; /* 留出 Header 的高度 */
}

/* 侧边栏标题 */
.sidebar-title {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.sidebar-nav {
    width: 100%;
}

.sidebar-nav div {
    height: auto; /* 自动调整高度 */
    border-bottom: 1px solid #fff; /* 更加白色的间隔线 */
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* 增加选项之间的间隔 */
}

.sidebar-item{
    font-size: 30px;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    padding: 10px 0; /* 增加上下间隔 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    transition: all 0.2s ease-in-out; /* 添加平滑过渡效果 */
    text-align: left;
}

.sidebar-item:hover {
    background-color: #444; /* 鼠标悬停时背景变暗 */
    color: #fff; /* 悬停时文字颜色变白 */
    transform: translateY(-2px); /* 悬停时轻微上移 */
}

.sidebar-item:active {
    background-color: #555; /* 点击时背景颜色变深 */
    transform: translateY(2px); /* 点击时轻微下移，模拟凹陷效果 */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5); /* 内部阴影，增强凹陷效果 */
}

/* 自定义滚动条样式 */
.sidebar::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888; /* 滚动条颜色 */
    border-radius: 10px; /* 滚动条圆角 */
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 鼠标悬停时滚动条颜色 */
}

.sidebar::-webkit-scrollbar-track {
    background-color: #333; /* 滚动条轨道颜色 */
}

/* 主内容区 */
.main-content {
    width: 93%;
    background-color: #000000;
    padding: 1rem;
    display: flex;
    flex: 1; /* 占据剩余空间 */
    margin-top: 70px; /* 留出 Header 的高度 */
    box-sizing: border-box; /* 确保 padding 不影响布局 */
}

.main-content-2 {
    width: 93%;
    background-color: #000000;
    padding: 1rem;
    display: flex;
    flex: 1; /* 占据剩余空间 */
    margin-top: 70px; /* 留出 Header 的高度 */
    box-sizing: border-box; /* 确保 padding 不影响布局 */
    overflow-y: auto;
}

.tradingview-widget{
    width: 100%;
    height: 100%;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 标题 */
.main-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background-color: #333333;
    text-align: center;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home{
    position: absolute;
    left: 3.5%;
    display: flex;
    align-items: center;
}

/* 网格布局 */
.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* 增加 box 之间的间距 */
    box-sizing: border-box; /* 确保内边距不会影响布局 */
    flex-grow: 1;
}

.grid-container-2 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem; /* 增加 box 之间的间距 */
    box-sizing: border-box; /* 确保内边距不会影响布局 */
    flex-grow: 1;
}

/* 网格箱子 */
.grid-box {
    background-color: #333333;
    border-radius: 8px;
    padding: 1rem; /* 增加内边距 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 设置不同的区块大小 */
.box1,
.box2,
.box3 {
    height: 35vh;
    padding: 0; /* 增加内边距 */

}

.box4 {
    grid-column: span 2;
    height: 20vh;
    padding: 1.5rem; /* 增加内边距 */
}

.box5 {
    height: 20vh;
    padding: 1.5rem; /* 增加内边距 */
}

.box6 {
    grid-column: span 3;
    height: 21vh;
    padding: 1.5rem; /* 增加内边距 */
}

.grid-box h3 {
    font-size: 2.5rem; /* 调整标题字体大小 */
    color: #ffffff; /* 标题颜色 */
    margin-bottom: 1rem; /* 增加标题和内容的间距 */
}

.grid-box p {
    font-size: 1.5rem; /* 调整内容字体大小 */
    color: #cccccc; /* 内容文字颜色 */
    margin: 0.5rem 0; /* 增加段落间距 */
}

.grid-box canvas {
    max-width: 100%;
    height: auto;
}

/* 文字样式 */
.text1 {
    font-size: 64px;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    margin-top: -14px;
}

.text2 {
    font-size: 32px;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
}

.chart-container {
    height: 400px;
    padding: 1rem;
    background-color: #333333;
    border: 1px solid #636161;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 1rem;
  }

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-container {
    width: 96%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.calculator-container{
    width: 86%;
    height: 400px;
    padding: 1rem;
    background-color: #333333;
    border: 1px solid #636161;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
}